
/*
 * Mimic layout of regular <img /> element.
 */
.mqi-wrapper {
  display: inline-block;
  padding: 0;
}

/*
 * Handle scaling images similar to regular <img /> elements.
 */
.mqi-image {
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

/*
 * Styling for accessibility handler.
 */
.mqi-img {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
